<template>
  <div>
    <nav>
      <div class="contain">
        <div class="logo-box">
          <nuxt-link to="/" class="logo logo-mopcon" />
        </div>
        <ul>
          <li>
            <nuxt-link to="/">
              MOPCON 2019
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              主辦社群
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              講者陣容
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              議程介紹
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/">
              贊助夥伴
            </nuxt-link>
          </li>
        </ul>
        <div class="mobile-nav" />
      </div>
    </nav>
    <div class="main">
      <nuxt />
    </div>
    <footer>
      <div class="contact">
        <h4>
          聯絡我們
        </h4>
        <nuxt-link class="text-teal-main" to="/">
          contact@mopcon.org
        </nuxt-link>
      </div>
      <div>
        在這裡找到 #MOPCON
      </div>
      <div>
        <nuxt-link to="/" class="logo logo-fb" />
        <nuxt-link to="/" class="logo logo-twitter" />
        <nuxt-link to="/" class="logo logo-ig" />
        <nuxt-link to="/" class="logo logo-telegram" />
      </div>
    </footer>
  </div>
</template>

<style lang="scss" scoped>
nav {
  height: 43px;
  @apply bg-black-main text-white relative;
  .contain {
    max-width: 1440px;
    @apply flex items-center mx-auto h-full;
  }
  .logo-box {
    @apply pl-2 mr-auto;
  }
  .logo {
    width: 99px;
    height: 12px;
    @apply mt-1;
  }
  ul {
    width: 60%;
    @apply h-full justify-around items-center hidden;
  }
  li a:hover {
    @apply text-teal-main border-b border-teal-main;
  }
  .mobile-nav {
    height: 10px;
    @apply w-8 border-t-2 border-b-2 border-white mr-4 relative;
    &::before {
      content: '';
      bottom: -2px;
      @apply absolute left-0 h-1 w-4 bg-black-main;
    }
  }
}
.main {
  min-height: calc(100vh - 160px - 69px);
}
footer {
  @apply bg-black-main text-white flex flex-col justify-center items-center text-lg pt-5 pb-8;
  div {
    @apply flex ml-4;
  }
  .contact {
    @apply flex-col items-center;
  }
  a {
    @apply leading-6 mt-4;
    &.logo {
      @apply w-6 h-6 mx-2;
    }
    &:hover:not(.logo) {
      @apply border-b border-teal-main;
    }
  }
}
.logo {
  @apply inline-block;
}
@screen lg {
  nav {
    .logo-box {
      width: 50%;
    }
    ul {
      width: 50%;
      padding-right: 5vw;
    }
  }
}
@screen md {
  nav {
    height: 69px;
    .logo-box {
      width: 40%;
      @apply pl-16 mr-0;
    }
    .logo {
      width: 140px;
      height: 20px;
    }
    ul {
      @apply flex;
    }
    .mobile-nav {
      @apply hidden;
    }
  }
  footer {
    height: 160px;
    @apply flex-row py-0;
    h4 {
      @apply mr-4;
    }
    .contact {
      @apply flex-row mr-12;
    }
    a {
      @apply mt-0;
    }
  }
}
</style>
